<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<p>Search: <input ng-model="$ctrl.query"></p>
			<p>
				Sort By: <select ng-model="$ctrl.orderBy">
					<option value="age">Newest</option>
					<option value="name">Alphabetical</option>	
				</select>
			</p>
		</div>
		<div class="col-sm-10">
			<ul>
				<li ng-repeat="phone in $ctrl.phones | filter: $ctrl.query | orderBy: $ctrl.orderBy">
					<a href="#/phones/{{phone.id}}"><img ng-src={{phone.imageUrl}}></a>
					<a href="#/phones/{{phone.id}}">{{phone.name}}</a>
					<p>{{phone.snippet}}</p>
				</li>
			</ul>
		</div>
	</div>
</div>